html, body 
{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;                     
}

#field
{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    grid-gap: 0px;
    border:solid 1px black;
}


.node
{
    
    padding: 0;
    border:solid black 1px;
    width: 60px;
    height: 60px;
    position: relative;
}
img
{
    
    width: 60px;
    height: 60px;
    z-index: 10;
}

#end
{
    transform:translate(-50%,-50%);
    position: absolute;
    border:black solid 2px;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bl
{
   
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    display: block;
    z-index: 19;
}

@keyframes anime
{
    0%{transform: scaleY(1);}
    100%{transform: scaleY(0);}
}



@keyframes end
{
    0%{transform:scale(0);}
    100%{transform:scale(1);}
}